<ion-modal-view view-title="AddToCart">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Order Form</h1>
    <button class="button button-clear button-primary" ng-click="addToCartModal.hide()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <!-- <a class="button icon ion-home" href="#/tab/home">Restaurant</a> -->
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name: </span>
        {{menuName}}
      </label>
      <label class="item item-input">
        <span class="input-label">Quantity</span>
        <input ng-model="menu.quantity" type="number">
      </label>
      <label class="item item-input">
        <span class="input-label">Total Price</span>
        <input value="wala pa" type="text">
      </label>
      <button class="button button-full button-balanced" ng-click="sendToCart(menu)">ORDER</button>
    </div>
  </ion-content>
</ion-modal-view>
