<ion-view view-title="Cart">
  <ion-content class="padding">
    </button>
    <h3>Cart</h3>
    <ion-list>
      <ion-item ng-repeat="order in cart">
        <p>
          Name: {{order.name}}
        </p>
        <p>
          Quantity: {{order.quantity}}
        </p>
        <p>
          Subtotal : {{subtotal(order.price,order.quantity)}}
        </p>

      </ion-item>
      <p>
        Total : {{getTotalPrice()}}
      </p>
      <p>
        <button class="button button-calm" ng-click="buy(cart)">Buy</button>
      </p>
    </ion-list>
  </ion-content>
</ion-view>
