<ion-view view-title="Cart">
  <ion-content class="padding">
    </button>
    <h3>Cart</h3>
    <ion-list>
      <ion-item ng-repeat="menu in menus">
        <p>
          Name: {{menu.name}}
        </p>
        <p>
          Quantity: {{menu.quantity}}
        </p>
        <p>
          Subtotal : wala pa
        </p>

      </ion-item>
      <p>
        Total : Wala pa
      </p>
      <p>
          <button class="button button-calm" ui-sref="tabs.restaurantMenus({restaurantId:restaurantId})">back</button>
        <button class="button button-calm" ng-click="buy(menus)">Buy</button>
      </p>
    </ion-list>
  </ion-content>
</ion-view>
