<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Change Password</h1>
    <button class="button button-calm" ng-click="closeChangePassword()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="updateNewPassword(firebaseUser)">
      <div class="list">
        <label class="item item-input">
          <input type="password" placeholder="Input Old Password" ng-model="firebaseUser.oldPassword">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Input New Password" ng-model="firebaseUser.newPassword">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Edit Profile</button>
      </div>
    </form>
  </ion-content>
</div>
