<ion-view view-title="Home">
  <ion-header-bar class="bar bar-subheader bar-light item-input-inset">

    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" value="" ng-model="searchRestaurant">
    </label>
  </ion-header-bar>
  <ion-content class="padding has-subheader" overflow-scroll="true">
    <ion-list>
      <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds'>
        <ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" events="markerEvents">
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <h3>Restaurants</h3>
      <!-- <ion-item ng-repeat="restaurant in restaurants | filter:searchText">
        <a ng-init="addMarker(restaurant)" class="button button-calm icon icon-right ion-chevron-right" ui-sref="tabs.viewRestaurant({restaurantId:restaurant.$id})">{{restaurant.name}}</a>
        <p ng-if="restaurant.secured_data.totalMenuCount != 0">
          Avg Price: {{getAvg(restaurant.$id) | currency:"₱"}}


        </p>
        <p>
          Rating: {{getAvgRating(restaurant.$id)}} / 5
        </p>
      </ion-item> -->
      <div class="card padding" ng-repeat="restaurant in restaurants | restaurantFilter:searchRestaurant track by restaurant.$id">
        <a class="item item-thumbnail-left" href="#" ng-init="addMarker(restaurant)" >
          <img class="img-thumbnail" ng-src="data:image/jpeg;base64,{{restaurant.image}}"/>
          <h3 ui-sref="tabs.viewRestaurant({restaurantId:restaurant.$id})">
            <icon class="ion-spoon"></icon> {{restaurant.name}}
            <span style="color:green">
              <icon class="ion-android-star-outline"></icon> {{getAvgRating(restaurant.$id)}}
            </span>
          </h3>
          <p>
            {{getAvg(restaurant.$id) | currency:"₱"}}
          </p>
          <p>
            <icon class="ion-ios-location-outline"></icon> {{restaurant.location}}
            <!-- <p ng-if="restaurant.name != searchRestaurant && searchRestaurant !== '' ">
              Yes we have {{searchRestaurant}}
            </p -->
          </p>
          <button class="button button-balanced button-small button-outline" ng-click="CallNumber()">
            <icon class="ion-android-call"></icon> Call Us
          </button>
        </a>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
