<ion-view view-title="Home">
  <ion-content class="padding">
    <ion-list>
      <h3>Restaurants</h3>
      <ion-item ng-repeat="restaurant in restaurants">
        <a class="button button-calm icon icon-right ion-chevron-right" ui-sref="tabs.viewRestaurant({restaurantId:restaurant.$id})">{{restaurant.name}}</a>
        <p ng-if="restaurant.totalMenuCount != 0">
          Avg Price:
          P {{getAvg(restaurant.$id)}}
        </p>
        <p>
          Rating: {{getAvgRating(restaurant.$id)}} / 5
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
