<ion-view view-title="Home">
  <ion-content class="padding">
    <p>
      <!-- <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
      <button class="button button-icon" ng-click="newTask()">
        Add new note<i class="icon ion-compose"></i> -->
      </button>
      <ion-list>
        <ion-item ng-repeat="restaurant in restaurants">
            <a class="button button-calm icon icon-right ion-chevron-right" ui-sref="tabs.viewRestaurant({restaurantId:restaurant.$id})">{{restaurant.name}}</a>
        </ion-item>
      </ion-list>
    </p>
  </ion-content>
</ion-view>
