<ion-view view-title="Login">
  <ion-content class="padding">
    <ion-list>
      <ion-item>
           Login
      </ion-item>
        <ion-item id="form-input">
          <form ng-submit="login(user)" ng-hide = "firebaseUser">
            <div class="list">
                <ion-md-input-cus placeholder="Username" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input-cus>
                <!-- Username:<input type="text" ng-model="user.email"> -->
            </div>
            <div class="list">
                <ion-md-input-cus placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input-cus>
                <!-- Password:<input type="password"  ng-model="user.password"> -->
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-assertive ink">Login</button>
            </div>
          </form>
          <div ng-show="firebaseUser">
            <div class="list">
              <label class="item item-input">
                hi , {{firebaseUser.getFullName()}}
              </label>
            </div>
            <div class="list">
              <label class="item item-input">
             <button ng-click="signOut()">Sign Out</button>
              </label>
              <label class="item item-input">
                <!-- {{authUser.firstName}} -->
              </label>
            </div>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
