<ion-view view-title="Login">
  <ion-content class="padding">
    <ion-list>
      <ion-item>
           Login
      </ion-item>
      <div class="card">
        <ion-item id="form-input" class="hehe">
          <form ng-submit="login(user)" ng-hide = "firebaseUser">
            <div class="list">
                <ion-md-input-cus placeholder="Username" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input-cus>
            </div>
            <div class="list">
                <ion-md-input-cus placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input-cus>
            </div>
            <div>
              <button type="submit" class="button button-block button-assertive ink">Login</button>
            </div>
          </form>
          <div>
            <button class="button button-block button-positive" ng-click="fbLogin()">
              Login with Facebook
            </button>
          </div>

          <div ng-show="firebaseUser">
            <div class="list">
              <label class="item item-input">
                Hi, <strong>{{firebaseUser.firstName }} {{firebaseUser.lastName}}</strong>
                <img src="{{photoURL}}" ng-show="photoURL != undefined">
              </label>
              <button class="button button-balanced" ng-click="editProfile()">Edit Profile</button>
              <button class="button button-balanced" ng-click="changePasswordShow()" >Change Password</button>
              <div>Started : {{firebaseUser.startedAt | date:'medium'}}</div>
            </div>
            <div class="list">
              <label class="item item-input">
                <button class="button" ng-click="signOut()">Sign Out</button>
              </label>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
