<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Restaurant</h1>

  </ion-header-bar>
  <ion-content>
    <form ng-submit="addRestaurant(restaurant)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name of Restaurant" ng-model="restaurant.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Location of Restaurant" ng-model="restaurant.location">
        </label>
        <ui-gmap-google-map zoom='map.zoom' events= 'map.events' center='map.center' options='map.options' bounds='map.bounds' control="modalControl">
          <ui-gmap-marker coords="marker.coords" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
        <label class="item item-input">
          <input type="text" placeholder="Type of Restaurant" ng-model="restaurant.type">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Cuisine of Restaurant" ng-model="restaurant.cuisine">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Add Restaurant</button>
      </div>
    </form>
    <div>
      <button class="button button-clear button-positive" ng-click="closeRestaurant()">Cancel</button>
    </div>
  </ion-content>
</div>
