<ion-view view-title="Notifications">
  <ion-content overflow-scroll="true">
    <div class="list">
      <a class="item item-icon-left positive" href="#">
        <i class="icon ion-android-list"></i>
        Order #10320 on Restaurant: Fuel PH
      </a>
      <a class="item item-icon-left balanced" ng-repeat="notif in newNotifs" >
        <i class="icon ion-thumbsup"></i>
        <h6>{{notif.sender}} reviewed your restaurant {{notif.restaurant}}</h6>
      </a>
    </div>
  </ion-content>
</ion-view>
