<ion-view view-title="Order">
  <ion-content class="padding">
    <h3>Cart</h3>
      <ion-list>
        <ion-item ng-repeat="data in order">
          <p>{{data.restaurant.name}}</p>
            <ion-item  ng-repeat="order in data.orders">
              <p>
              Customer Name: {{customer_name(order.customer_id)}}
              </p>
              <ion-item ng-repeat="menu in order.menus">
                <p>
                Name : {{orderMenu(menu.id).name}}
                  <!-- Name : {{ menu.name }} -->
                </p>
                <p>
                  Quantity : {{menu.quantity}}
                </p>
                <p>
                Price : {{orderMenu(menu.id).price}}
                  <!-- Price : {{ menu.unit_price }} -->
                </p>
                <p>
                  Subtotal : {{ orderMenu(menu.id).price  * menu.quantity }}
                </p>
              </ion-item>
              <p>
                Location: {{order.location}}
              </p>
              <p>
                Total : {{order.totalprice}}
              </p>
            </ion-item>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
