<ion-view view-title="Restaurant">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <h2>Restaurateur: {{AppUser.fisrtName}} {{AppUser.lastName}} </h2>
      </div>
    </div>
    <div>
      <button ng-click="newRestaurant()" class="button button-block button-positive"><icon class="ion-plus"></icon> New Restaurant</button>
    </div>
    <ion-list>
      <ion-item ng-repeat="restaurant in restaurants">
        <h3> <icon class="ion-spoon"></icon> {{restaurant.name}}</h3>
        <p>
          <icon class="ion-ios-location-outline"></icon> {{restaurant.location}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
