<ion-view view-title="Restaurant">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <h2>Restaurateur: {{AppUser.firstName}} {{AppUser.lastName}} </h2>
      </div>
    </div>
    <div>
      <button ng-click="newRestaurant()" class="button button-block button-positive"><icon class="ion-plus"></icon> New Restaurant</button>
    </div>
    <ion-list>
      <ion-item ng-repeat="restaurant in displayRestaurants">
        <h3> <icon class="ion-spoon"></icon> {{restaurant.name}}</h3>
        <p>
          <icon class="ion-ios-location-outline"></icon> {{restaurant.location}}
        </p>
        <ion-option-button class="button-royal" ng-click="displayRestaurants.$remove(restaurant)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="editRestaurant(restaurant)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
