<ion-tabs class="tabs-icon-top tabs-stable" ng-controller="TabsCtrl" >
  <ion-tab title="Home" icon="ion-home" ng-click="goToHome()">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Search" icon="ion-search" href="#/tab/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Menu" icon="ion-ios-information" ui-sref="tabs.menu">
    <ion-nav-view name="menu-tab"></ion-nav-view>
  </ion-tab> -->
  <!-- <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
    <ion-nav-view name="contact-tab"></ion-nav-view>
  </ion-tab> -->
  <!-- <ion-tab title="Login" icon="ion-ios-world" ui-sref="tabs.login">
    <ion-nav-view name="login-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="SignUp" icon="ion-ios-world" ui-sref="tabs.signup">
    <ion-nav-view name="signup-tab"></ion-nav-view>
  </ion-tab> -->
  <ion-tab ng-if="firebaseUser" title="Restaurants" icon="ion-spoon" ng-click="goToMyRestaurant()">
    <ion-nav-view name="restaurant-tab"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab ng-if="firebaseUser" title="Cart" icon="ion-android-cart" ui-sref="tabs.cart">
    <ion-nav-view name="cart-tab"></ion-nav-view>
  </ion-tab> -->
  <!-- <ion-tab ng-if="firebaseUser" title="Restaurantmenus" icon="ion-spoon" ui-sref="tabs.restaurantMenus">
    <ion-nav-view name="restaurantmenus-tab"></ion-nav-view>
  </ion-tab> -->
  <ion-tab ng-if="firebaseUser" title="Orders" icon="ion-android-list" ng-click="goToOrders()">
    <ion-nav-view name="order-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-if="firebaseUser" title="Notifications" icon="ion-android-notifications" ng-click="goToNotifications()">
    <ion-nav-view name="notifications-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-if="firebaseUser" title="My Orders" icon="ion-android-notifications" ng-click="goToMyOrders()">
    <ion-nav-view name="myorders-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-if="firebaseUser" title="My Reservations" icon="ion-android-notifications" ng-click="goToMyReservations()">
    <ion-nav-view name="myreservations-tab"></ion-nav-view>
  </ion-tab>
  <!--
  <ion-tab ng-if="firebaseUser" title="Profile" icon="ion-person" ui-sref="tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab> -->
</ion-tabs>
