<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="About" icon="ion-ios-information" ui-sref="tabs.about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Contact" icon="ion-ios-world" ui-sref="tabs.contact">
    <ion-nav-view name="contact-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Login" icon="ion-ios-world" ui-sref="tabs.login">
    <ion-nav-view name="login-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="SignUp" icon="ion-ios-world" ui-sref="tabs.signup">
    <ion-nav-view name="signup-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Restaurants" icon="ion-spoon" ui-sref="tabs.restaurant">
    <ion-nav-view name="restaurant-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
