<ion-view view-title="ViewRestaurant">
  <ion-content class="padding">
      <a class="button button-light icon ion-home" href="#/tab/home"> Home</a>

      <!-- <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a> -->
    <h3>{{restaurant.name}}</h3>
    <p>{{getRestaurantStatus(restaurant.owner_id)}}</p>
      <ion-list>
        <ion-item>
            Cuisine: {{restaurant.cuisine}}
        </ion-item>
        <ion-item>
            Location: {{restaurant.location}}
        </ion-item>
        <div ng-if='restaurant.latitude != null && restaurant.longitude != null' ng-init= 'setMap(restaurant)'>
          <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds'>
            <ui-gmap-marker coords="map.center" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div>
          <button ng-click="newReview()" class="button button-block button-balanced"><icon class="ion-plus"></icon> Write Review</button>
        </div>
      </ion-list>
      <div class="list">
        <div class="item item-divider">
          Reviews
        </div>
        <ul>
          <li class="item" ng-repeat="review in reviews">
            <h3>
              {{review.content}} <span class="badge badge-balanced">{{review.rating}}</span>
            </h3>
            <p>
              Reviewed by: {{getUserName(review.reviewer_id)}}
              <!-- Reviewed by: {{review.reviewer_id}} -->
            </p>
          </li>
        </ul>
      </div>
      <!-- <ion-list>
        <ion-item ng-repeat="review in reviews">{{review.content}}</ion-item>
      </ion-list> -->
  </ion-content>
</ion-view>
