<ion-view view-title="ViewRestaurant">
  <ion-content overflow-scroll="true">
    <img ng-src="data:image/jpeg;base64,{{restaurant.image}}" width="100%" />
    <div class="list card no-padding">

      <!-- <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div> -->

      <div class="item item-body">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
    <div class="padding">
      <h3>{{restaurant.name}}</h3>
      <p>{{getRestaurantStatus(restaurant.owner_id)}}</p>
      <p>Restaurant is: {{openRestaurant(restaurant.$id)}}</p>
      <p ng-if="openRestaurant(restaurant.$id)==='Open'" style="color:green;">
        Restaurant Hours: {{ restaurant.openTime | date:'shortTime' }} - {{ restaurant.closeTime | date:'shortTime' }}
      </p>
      <p ng-if="openRestaurant(restaurant.$id)==='Closed'" style="color:red;">
        Opens at {{ restaurant.openTime | date:'shortTime' }}
      </p>
      <ion-list>
        <ion-item>
          Cuisine: {{restaurant.cuisine}}
        </ion-item>
        <ion-item>
          Location: {{restaurant.location}}
        </ion-item>
        <div ng-if='restaurant.latitude != null && restaurant.longitude != null' ng-init='setMap(restaurant)'>
          <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds'>
            <ui-gmap-marker coords="map.center" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
            <ui-gmap-map-control position="top-right">
              <button class="button button-small button-balanced" ng-click="showPath(restaurant)">Show Driving Path</button>
            </ui-gmap-map-control>
            <ui-gmap-polylines models="direction" path="'paths'" stroke="'stroke'"></ui-gmap-polylines>
          </ui-gmap-google-map>
        </div>
        <div ng-if="exists != true">
          <button ng-click="reviewModal.show()" class="button button-block button-balanced">
            <icon class="ion-plus"></icon> Write Review</button>
        </div>
        <div class="button-bar" ng-if="exists">
          <button ng-click="editReviewModal.show()" class="button button-balanced">
            <icon class="ion-plus"></icon> Edit Review</button>
          <button ng-click="showConfirmDelete(review)" class="button button-assertive">
            <icon class="ion-android-delete"></icon> Delete Review</button>
        </div>
      </ion-list>
      <div class="list">
        <div class="item item-divider">
          Reviews
        </div>
        <ul>
          <li class="item" ng-repeat="review in reviews">
            <h3>

            {{review.content}} <span class="badge badge-balanced">{{review.rating}}</span>
          </h3>
            <p>
              Reviewed by: {{getUserName(review.reviewer_id)}}
              <!-- Reviewed by: {{review.reviewer_id}} -->
            </p>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
