<ion-view view-title="viewRestaurant">
  <ion-content class="padding">
      <a class="button icon ion-home" href="#/tab/home"> Home</a>
      <!-- <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a> -->
      <ion-list>
        <ion-item>
            {{restaurant.name}}
        </ion-item>
        <ion-item>
            {{restaurant.cuisine}}
        </ion-item>
        <ion-item>
            Location: {{restaurant.location}}
        </ion-item>
      </ion-list>
    </p>
  </ion-content>
</ion-view>
