<ion-view view-title="Pending">
  <ion-content class="padding">

    <ion-list>
      <h6>Pending Restaurants</h6>
      <ion-item ng-repeat="pRestaurant in pendingRestaurants">
        <h3><icon class="ion-spoon"></icon> {{pRestaurant.name}}</h3>
        <p>
          <icon class="ion-ios-location-outline"></icon> {{pRestaurant.location}}
        </p>
        <p>
          <a ng-click="approveRestaurant(pRestaurant)">Approve This</a>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
