/*custom*/
@media only screen and (min-width: 320px) and (max-width: 640px), only screen and (max-width: 740px) and (-webkit-device-pixel-ratio: 2), only screen and (max-width: 740px) and (-webkit-device-pixel-ratio: 3) {
  .hide-on-mobile,
  .hom {
    display: none !important;
  }
}
@media only screen and (min-width: 641px) and (max-width: 991px) {
  .hide-on-tablet,
  .hot {
    display: none !important;
  }
}
@media only screen and (min-width: 991px) {
  .hide-on-desktop {
    display: none !important;
  }
}
ul.rating li {
  display: inline;
  border: 0;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.tab-item.activated,
.tab-item.active,
.tab-item.tab-item-active {
  color: #ef473a;
}
.angular-google-map-container {
  height: 375px;
  width: 100%;
}
.angular-google-map {
  height: 375px;
  width: 100%;
}
.bar.bar-profile {
  height: 170px;
}
.bar .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
  border-bottom: 3px solid #FFF;
  background-image: url("../img/material-wall.jpg");
}
.profile .sidebar-name {
  color: #FFF;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.sidebar-picture {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 400px;
  height: 400px;
  margin: 30px auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  background-color: white;
}
.menu .has-header {
  top: 169px;
}
#content {
  position: relative;
  margin-top: 75px;
  background-color: white;
  box-shadow: 0 -1px 10px rgba(0,0,0,0.4);
  padding-top: 200px;
}
#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}
#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  background-color: white;
}
#profile-preview {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: auto;
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  background-color: white;
}
.list-item-content {
  padding: 5px;
}
.list-item {
  color: #666666;
}
.post {
  color: #444;
}
.post-time {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
  color: #888;
}
.post-profile-image {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.post-options {
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  color: #888;
}
ion-popover-view.fit {
  height: auto !important;
}
ion-popover-view.fit ion-content {
  position: relative !important;
}
.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}
.custom-popup {
  .popup {
    width: 90% !important;
  }
}
.delete-popup {
  .popup-buttons .button-positive {
    background-color: #ef473a !important;
  }
  .popup {
    width: 90% !important;
  }
}
.progress-bar {
  background: #f20d49 !important;
  border-radius: 100px;
  height: 20px;
  p {
    text-align: center;
    color: white !important;
    text-align: center;
  }
}
.capitalize {
  text-transform: capitalize;
}
.container-class {
  ::-webkit-scrollbar {
    display: none !important;
  }
}
// @keyframes animatedBackground {
// 	from { background-position: 0 0; }
// 	to { background-position: 100% 0; }
// }
//
// @-webkit-keyframes animatedBackground {
// 	from { background-position: 0 0; }
// 	to { background-position: 100% 0; }
// }
.login-page {
  background: url('../img/batchoy.jpg');
  background-size: cover;
  // background-repeat: repeat-x;
  background-position: center;
  margin: auto;
  z-index: -1;
  // -webkit-animation: animatedBackground 40s linear 2s infinite alternate;
  // -moz-animation: animatedBackground 40s linear 2s infinite alternate;
  // -ms-animation: animatedBackground 40s linear 2s infinite alternate;
  // -o-animation: animatedBackground 40s linear 2s infinite alternate;
  // animation: animatedBackground 40s linear 2s infinite alternate;
}
.login-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  background: rgba(black, 0.75);
}
.login-container > .header {
  -webkit-flex: 4;
  padding-top: 20px;
}
.bottom-text {
  color: #fff;
}
* {
  box-shadow: none !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body.menu-open ion-side-menu-content {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
  background-color: #000;
}
.custom {
  background-color: #3f4041 !important;
}
.custom .item {
  background-color: transparent;
  border: none;
  color: white;
}
.custom hr {
  border: 1px solid #666;
}
// .custom .item:last-child {
//   border-bottom: 1px solid #666;
// }
.custom .item-complex .item-content,
.dark .item-radio .item-content {
  background-color: transparent;
}
.custom a,
.custom h2,
.custom h3,
.custom p {
  color: white;
}
ion-slides {
  height: 40vh !important
}
ion-slides .slider-imgs {
  max-height: 100%;
  margin:auto;
  display:block;
}

ion-slides .card {
  max-height: 100%;
  margin:auto;
  display:block;
}
