/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.angular-google-map-container {
  height: 375px;
  position: absolute;
}
.angular-google-map {
  height: 375px;
  position: absolute;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color:  #ef473a;
}
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
