<ion-view view-title="My Orders">
  <ion-content class="padding">
    <h3>My Orders</h3>
    <ion-item ng-repeat="order in orders | orderBy:'-order_details.timestamp'">
      <h4>Order #{{order.order_details.timestamp}}</h4>
      <p ng-show="order.order_details.status">
        Status: {{order.order_details.status}}
      </p>
      <button class="button button-small button-outline button-assertive" ng-click="cancel(order)" ng-show="order.order_details.status !== 'cancelled'">
        Cancel
      </button>
    </ion-item>
  </ion-content>
</ion-view>
