<ion-view view-title="My Orders">
  <ion-content class="padding">
    <h3>My Orders</h3>

    <div class="card list padding" ng-repeat="order in newOrders | orderBy:'-details.order_details.timestamp'">
      <div class="item item-text-wrap">
          <h4>Order #{{order.details.order_details.timestamp}}</h4>
          <p>
             Restaurant: {{order.restaurant_name}}
          </p>
          <p ng-show="order.details.order_details.status">
            Status: {{order.details.order_details.status}}
          </p>
          <p ng-show="order.details.order_details.status_time">
            Time: {{order.details.order_details.status_time | timeAgo }}
          </p>
          <button class="button button-small button-assertive" ng-click="cancel(order)" ng-show="!(order.details.order_details.status === 'cancelled' || order.details.order_details.status === 'completed')">
            Cancel
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>
