<ion-view view-title="Order">
  <ion-content class="padding">
    <h3>Cart</h3>
      <ion-list>
        <ion-item ng-repeat="data in restaurants">
          <p>{{data.restaurant.name}}</p>
            <ion-item  ng-repeat="order in data.orders">
              <p>
              Customer Name: {{customer_name(order.customer_id)}}
              </p>
              <ion-item ng-repeat="menu in order.order_details.menus">
                <p>
                Name : {{orderMenu(menu.id).name}}
                </p>
                <p>
                  Quantity : {{menu.quantity}}
                </p>
                <p>
                Price : {{orderMenu(menu.id).price}}
                </p>
                <p>
                  Subtotal : {{ orderMenu(menu.id).price  * menu.quantity }}
                </p>
              </ion-item>
              <p>
                Location: {{order.order_details.location}}
              </p>
              <p>
                Total : {{order.order_details.totalprice}}
              </p>
              <ion-checkbox ng-repeat="(key, val) in order.orderStatus" ng-model="order.orderStatus[key]" ng-change="changeOrderStatus(order.$id, key, order.orderStatus[key])">
                {{key}} : {{val}} {{order.orderStatus[key]}}
              </ion-checkbox>
            </ion-item>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
