<ion-modal-view view-title="Reservation">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Book a Reservation</h1>
    <button class="button button-clear button-primary" ng-click="addReservationModal.hide()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          How many person/s:<input type="number" ng-model="menu.price">
        </label>
      </div>
      <div class="item item-icon-left" ion-datetime-picker seconds am-pm ng-model="datetimeValue">
        <i class="icon ion-ios-barcode-outline positive"></i>
        With seconds and 12-hour clock:
        <strong>{{datetimeValue| date: "yyyy-MM-dd h:mm:ss a"}}</strong>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Book</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
