<ion-view view-title="My Reservations">
  <ion-content class="padding">
    <h3>My Reservations</h3>
    {{1+1}}
    {{test}}
    <ion-item ng-repeat="reservation in reservations | orderBy:'-details.timestamp'">
      <h4>Reference #{{reservation.details.timestamp}}</h4>
      <p>
        Restaurant: {{reservation.restaurant_name}}
      </p>
      <p>
        Pax: {{reservation.details.number_of_persons}}
      </p>
      <p>
        Date: {{reservation.details.datetime | date: "MMM d, y h:mm a"}}
      </p>
      <p ng-show="reservation.details.status">
        Status: {{reservation.details.status}}
      </p>
      <button class="button button-small button-outline button-royal" ng-click="confirmRemind(reservation.details)" ng-show="reservation.details.status == 'remind'">
        Confirm Remind
      </button>
      <button class="button button-small button-outline button-assertive" ng-click="cancel(reservation.details)" ng-show="reservation.details.status !== 'cancelled'">
        Cancel
      </button>
    </ion-item>
  </ion-content>
</ion-view>
