<!-- <ion-view view-title="Search" ng-class="{'bar-subheader-slide-away': slideHeader}">
  <ion-header-bar class="bar bar-subheader bar-light item-input-inset">
    <div class="item item-input">
      <input ng-show="selectedFilter == 'name' || selectedFilter == 'menu'" placeholder="Search by {{selectedFilter}}..." type="search" ng-model="searchRestaurant" ng-model-options="{ debounce: 500 }" ng-change="allowMarkerChange(searchRestaurant, data.filter)" />
      <input ng-show="selectedFilter == 'location'" class="input-form" type="text" placeholder="Search by location..." google-autocomplete-suggestion location="data.location" on-selection="onAddressSelection(location)" country-code="{{countryCode}}" ng-model="data.location.formatted_address"
          readonly />

      <button class="button button-icon icon ion-close-circled" ng-show="searchRestaurant" ng-click="clearField()"></button>
      <button class="button button-icon icon ion-close-circled" ng-show="data.location.formatted_address" ng-click="clearLocationField()"></button>
    </div>
    <div class="buttons">
      <button class="button button-assertive no-padding ink icon ion-levels" ng-click="changeFilter()"></button>
      <button class="button button-royal no-padding ink icon ion-map" ng-show="showList" ng-click="mapView()"></button>
      <button class="button button-royal no-padding ink icon ion-ios-list-outline" ng-show="showMap" ng-click="listView()"></button>

    </div>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <button class="button button-block button-balanced ink" ng-click="showNear()">Nearby Restaurants(1km)</button>
    <div ng-if="showMap">
      <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' control='map.control' refresh=map.refresh events=map.events ng-cloak>
        <ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" events="markerEvents" doRebuildAll="true"></ui-gmap-markers>
        <ui-gmap-map-control position="top-right">
        </ui-gmap-map-control>
      </ui-gmap-google-map>
    </div>
    <ion-list ng-show="showList">
      <h3>Results</h3>
      <ion-spinner ng-show="loading" icon="lines"></ion-spinner>
      <div class="card ink" ng-repeat="restaurant in newRestaurants" ng-if="restaurant.ready" ui-sref="tabs.viewRestaurant.main({restaurantId:restaurant.details.$id})" ng-last-repeat="workorderlist" on-hold="showActionsheet(restaurant.details)">
        <div class="item item-thumbnail-left">
          <img class="img-thumbnail" ng-if="restaurant.details.photoURL" ng-src="{{restaurant.details.photoURL}}" />
          <img ng-if="!restaurant.details.photoURL" ng-src="img/wow.jpg">
          <h3 ng-init="addMarkers(restaurant.details)" class="capitalize">
            <icon class="ion-spoon"></icon> {{restaurant.details.name}}
            <span style="color:green">
              <icon class="ion-android-star-outline"></icon> {{restaurant.avg}}
            </span>
          </h3>
          <p>
            {{restaurant.details.secured_data.avgPrice.toFixed(2) | currency:"₱"}}
          </p>
          <p>
            <icon class="ion-ios-location-outline"></icon> {{restaurant.details.location}}
          </p>
          <button class="button button-balanced button-small button-outline" ng-click="CallNumber(restaurant.details.phonenumber)">
            <icon class="ion-android-call"></icon> Call Us
          </button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view> -->

<ion-view view-title="Search" ng-class="{'bar-subheader-slide-away': slideHeader}">
  <ion-header-bar class="bar bar-subheader bar-light item-input-inset">
    <div class="item item-input">
      <input ng-show="data.filter == 'name' || data.filter == 'menu'" placeholder="Search by {{data.filter}}..." type="search" ng-model="searchRestaurant" ng-model-options="{ debounce: 500 }" ng-change="allowMarkerChange(searchRestaurant, data.filter)" />
      <input ng-show="data.filter == 'location'" class="input-form" type="text" placeholder="Search by location..." google-autocomplete-suggestion location="data.location" on-selection="onAddressSelection(location)" country-code="{{countryCode}}" ng-model="data.location.formatted_address"
          readonly />

      <button class="button button-icon icon ion-close-circled" ng-show="searchRestaurant" ng-click="clearField()"></button>
      <button class="button button-icon icon ion-close-circled" ng-show="data.location.formatted_address" ng-click="clearLocationField()"></button>
    </div>
    <div class="buttons">
      <button class="button button-assertive no-padding ink icon ion-levels" ng-click="changeFilter()"></button>
      <button class="button button-royal no-padding ink icon ion-map" ng-show="showList" ng-click="mapView()"></button>
      <button class="button button-royal no-padding ink icon ion-ios-list-outline" ng-show="showMap" ng-click="listView()"></button>

    </div>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <button class="button button-block button-balanced ink" ng-click="showNear()">Nearby Restaurants(1km)</button>
    <div ng-if="showMap">
    <!-- <div> -->
      <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' control='map.control' refresh=map.refresh events=map.events ng-cloak>
        <ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" events="markerEvents" doRebuildAll="true"></ui-gmap-markers>
        <ui-gmap-map-control position="top-right">
        </ui-gmap-map-control>
      </ui-gmap-google-map>  
    </div>
    <ion-list ng-show="showList">
      <h3>Results</h3>
      <ion-spinner ng-show="loading" icon="lines"></ion-spinner>
      <div class="card ink" ng-repeat="restaurant in newRestaurants" ng-if="restaurant.ready" ui-sref="tabs.viewRestaurant.main({restaurantId:restaurant.details.$id})" ng-last-repeat="workorderlist" on-hold="showActionsheet(restaurant.details)">
        <div class="item item-thumbnail-left">
          <img class="img-thumbnail" ng-if="restaurant.details.photoURL" ng-src="{{restaurant.details.photoURL}}" />
          <img ng-if="!restaurant.details.photoURL" ng-src="img/wow.jpg">
          <h3 ng-init="addMarkers(restaurant.details)" class="capitalize">
            <icon class="ion-spoon"></icon> {{restaurant.details.name}}
            <span style="color:green">
              <icon class="ion-android-star-outline"></icon> {{restaurant.avg}}
            </span>
          </h3>
          <p>
            {{restaurant.details.secured_data.avgPrice.toFixed(2) | currency:"₱"}}
          </p>
          <p>
            <icon class="ion-ios-location-outline"></icon> {{restaurant.details.location}}
          </p>
          <button class="button button-balanced button-small button-outline" ng-click="CallNumber(restaurant.details.phonenumber)">
            <icon class="ion-android-call"></icon> Call Us
          </button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
