<ion-view view-title="SignUp" hide-nav-bar="true">
  <ion-content class="login-page" scroll="false">
    <section class="login-container">
      <button class="button button-block button-assertive ink" ui-sref="landing">Back</button>
      <div class="card padding">
        <form ng-submit="createUser(user)">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">First Name</span>
                <input type="text" placeholder="First Name" ng-model="user.firstName">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">Last Name</span>
                <input type="text" placeholder="Last Name" ng-model="user.lastName">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">E-mail Address</span>
                <input type="text" placeholder="E-mail Address" ng-model="user.email">
              </label>
              <label class="item item-input item-floating-label" ng-show="showPasswordIsChecked">
                <span class="input-label has-input">Password</span>
                <input type="text" placeholder="Password" ng-model="user.password" ng-focus="onPasswordFocus()" ng-blur="onPasswordBlur()" required>
              </label>
              <label class="item item-input item-floating-label" ng-show="!showPasswordIsChecked">
                <span class="input-label has-input">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" required>
              </label>
              <ion-checkbox ng-model="showPasswordIsChecked">Show password</ion-checkbox>
            </div>
            <div class="list">
              <button type="submit" class="button button-block button-energized ink">Signup</button>
            </div>
        </form>
      </div>
    </section>
  </ion-content>
</ion-view>
