<ion-view view-title="Landing" hide-nav-bar="true">
  <ion-content class="login-page" scroll="false">
    <section class="login-container">
      <div class="header text-center">
        <img src="img/icon.png" id="landing-image" />
        <h1 id="landing-title"> SERVILO </h1>
      </div>
      <ion-list class="list animate-blinds">
        <ion-item class="item-borderless">
          <button class="button button-block button-large button-energized-900 ink" ui-sref="signup">
            Sign up a new account
          </button>
          <div>
            <button class="button button-block button-small social-button-google" ng-click="googleLogin()">Google</button>
          </div>
          <div>
            <button class="button button-block button-small social-button-facebook" ng-click="fbLogin()">Facebook</button>
          </div>
          <div>
            <button class="button button-block button-small social-button-twitter" ng-click="twitterLogin()">Twitter</button>
          </div>

          <!-- <div class="row">
            <div class="col col-50">

            </div>
            <div class="col col-50">
            </div>
          </div> -->
        </ion-item>
        <ion-item class="item-borderless">
          <div class="col text-center bottom-text">
            Already have an account? <strong><a ui-sref = "login">Log in now!</a></strong>
          </div>
        </ion-item>
      </ion-list>
    </section>
  </ion-content>
</ion-view>
