<ion-view view-title="Landing" hide-nav-bar="true">
  <ion-content class="login-page" scroll="false">
    <section class="login-container">
      <div class="col header text-center">
        <img src="./img/wow.jpg" id="profile-image" />
      </div>
      <ion-list class="list animate-blinds">
        <ion-item class="item-borderless">
          <button class="button button-block button-large button-energized-900 ink" ui-sref="signup">
            Sign up a new account
          </button>
        </ion-item>
        <ion-item class="item-borderless">
          <div class="row">
            <div class="col col-100">
              <button class="button button-block social-button-google text-center" ng-click="googleLogin()">Google</button>
            </div>
          </div>
          <div class="row">
            <div class="col col-50">
              <button class="button button-block social-button-facebook" ng-click="fbLogin()">Facebook</button>
            </div>
            <div class="col col-50">
              <button class="button button-block social-button-twitter" ng-click="twitterLogin()">Twitter</button>
            </div>
          </div>
        </ion-item>
        <ion-item class="item-borderless">
          <div class="col text-center bottom-text padding">
            Already have an account? <strong><a ui-sref = "login">Log in now!</a></strong>
          </div>
        </ion-item>
      </ion-list>
    </section>
  </ion-content>
</ion-view>
