<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="login-page">
    <section class="login-container">
      <button class="button button-block button-assertive ink" ui-sref="landing">Back</button>
      <div class="card padding">
        <form ng-submit="login(user)" name="loginForm" novalidate>
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">E-mail Address</span>
              <input type="text" placeholder="E-mail Address" ng-model="user.email" name="email" ng-required=true>
              <div class="error" ng-show="loginForm.email.$touched">
                <p ng-show="loginForm.email.$error.required">* Email address is required</p>
              </div>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">Password</span>
              <input type="{{passwordType}}" placeholder="Password" ng-model="user.password" ng-required=true>
            </label>
            <div class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-click="showHidePassword()"> </label> Show Password
            </div>
          </div>
          <div class="list">
            <button type="submit" class="button button-block button-balanced ink" >Login</button>
          </div>
          <div ng-show="invalids">
              *Invlid email address or password
          </div>
        </form>
      </div>
    </section>
    <!-- <div class="ionic login " style="background-image: url('../img/batchoy.jpg');" ng-app="login">
        <div class="hero no-header flat">
            <div class="content">
                <i class="ion-map icon hero-icon royal-bg"></i>
                <h1>App Name</h1>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text"><input type="text"><span class="input-label">Username</span><div class="highlight highlight-balanced"></div></label>
            <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password"><input type="password"><span class="input-label">Password</span><div class="highlight highlight-energized"></div></label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive waves-effect waves-button waves-light">Login</button>
        </div>
        <div class="button-bar">
            <button class="button button-small button-outline button-assertive light-bg icon-left ion-social-google waves-effect waves-button waves-light">Google+</button>
            <button class="button button-small button-outline button-positive light-bg icon-left ion-social-facebook waves-effect waves-button waves-light">Facebook</button>
        </div>
    </div> -->

  </ion-content>
</ion-view>
