<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="login-page">
    <ion-list>
      <div class="card">
        <ion-item>
          <div class="row">
            <div class="col text-center">
              <h2> Welcome to Servilo! Log in here... </h2>
            </div>
          </div>
        </ion-item>
        <ion-item id="form-input">
          <form ng-submit="login(user)" ng-hide="firebaseUser">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">E-mail Address</span>
                <input type="text" placeholder="E-mail Address" ng-model="user.email">
              </label>
              <label class="item item-input item-floating-label" ng-show="showPasswordIsChecked">
                <span class="input-label has-input">Password</span>
                <input type="text" placeholder="Password" ng-model="user.password" ng-focus="onPasswordFocus()" ng-blur="onPasswordBlur()" required>
              </label>
              <label class="item item-input item-floating-label" ng-show="!showPasswordIsChecked">
                <span class="input-label has-input">Password</span>
                <input type="password" placeholder="Password" ng-model="user.password" required>
              </label>

              <ion-checkbox ng-model="showPasswordIsChecked">Show password</ion-checkbox>
            </div>

            <div class="list">
              <button type="submit" class="button button-block button-balanced">Login</button>
            </div>
          </form>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="row">
            <div class="col text-center">
              <h2> New to Servilo? Sign up here... </h2>
            </div>
          </div>
          <button class="button button-block button-energized" ui-sref="signup">
            Sign up
          </button>

          <div class="row">
            <div class="col text-center">
              <h2> ...or log-in through other accounts! </h2>
            </div>
          </div>
          <button class="button button-block social-button-facebook" ng-click="fbLogin()">
            Facebook
          </button>
          <button class="button button-block social-button-twitter" ng-click="twitterLogin()">
            Twitter
          </button>
          <button class="button button-block social-button-google" ng-click="googleLogin()">
            Google
          </button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
