<ion-view view-title="Login">
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        Login
      </ion-item>
      <div class="card">
      <ion-item id="form-input">
        <form ng-submit="login(user)" ng-hide="firebaseUser">
          <div class="list">
            <ion-md-input-cus placeholder="Username" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input-cus>
          </div>
          <div class="list">
            <ion-md-input-cus placeholder="Password" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input-cus>
          </div>
          <div>
            <button type="submit" class="button button-block button-assertive ink">Login</button>
          </div>
        </form>
        <div ng-hide="firebaseUser">
          <button class="button button-block button-energized" ui-sref="signup">
            Sign up
          </button>
          <button class="button button-block social-button-facebook" ng-click="fbLogin()">
            Login with Facebook
          </button>
          <button class="button button-block social-button-twitter" ng-click="twitterLogin()">
            Login with Twitter
          </button>
          <button class="button button-block social-button-google" ng-click="googleLogin()">
            Login with Google
          </button>
        </div>  
      </ion-item>
  </div>
    </ion-list>
  </ion-content>
</ion-view>
