<ion-view view-title="dashboard-interact">
  <ion-content class="has-tabs-top padding">
    <div class="row">
      <div class="col col-50 ink" ng-click="goToOrders()" id="interact-div">
        <div>
          <h1 class="icon ion-clipboard assertive text-center"></h1>
          <p class="text-center">
            Orders
          </p>
        </div>
      </div>
      <div class="col col-50 ink" ng-click="goToReservations()" id="interact-div">
        <div>
          <h1 class="icon ion-calendar assertive text-center"></h1>
          <p class="text-center">
            Reservations
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 ink" ng-click="goToPromos()" id="interact-div">
        <div>
          <h1 class="icon ion-speakerphone assertive text-center"></h1>
          <p class="text-center">
            Promos
          </p>
        </div>
      </div>
      <div class="col col-50 ink" ng-click="goToReviews()" id="interact-div">
        <div>
          <h1 class="icon ion-chatboxes assertive text-center"></h1>
          <p class="text-center">
            Reviews
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
