<ion-view view-title="dashboard-menus">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-plus" menu-open-color="#444" backdrop="true">
    <ion-floating-item icon="ion-edit" ng-if="categories.length !== 0" click="openAddModal()" button-color="#387ef5" text="Add Menu"></ion-floating-item>
    <ion-floating-item icon="ion-edit" click="showAddCategoryModal()" button-color="#387ef5" text="Add Category"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="has-tabs-top">
    <ion-list class="no-margin-top">
      <div ng-repeat="category in categories">
        <ion-item class="item-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
          <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{category.name}}
        </ion-item>
        <ion-item class="item-accordion item-avatar" ng-repeat="menu in category.menus" ng-show="isGroupShown(category)">
          <img ng-if="menu.details.photoURL" ng-src="{{menu.details.photoURL}}">
          <img ng-if="!menu.details.photoURL" ng-src="img/wow.jpg">
          <h3>{{menu.details.name}}</h3>
          <h3>{{menu.details.price | currency: '₱'}}</h3>
          <ion-toggle ng-model="menu.details.availability" ng-change="changeAvailability(menu.details)" toggle-class="toggle-calm">
            <h3>Availability</h3></ion-toggle>
          <div class="row">
            <div class="col">
              <button class="button button-energized button-block button-small" ng-click="editMenu(menu.details)">Edit</button>
            </div>
            <div class="col">
              <button class="button button-assertive button-block button-small" ng-click="deleteMenu(menu.details)">Delete</button>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
