<ion-view view-title="dashboard-main">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-gear-a" menu-open-color="#444" backdrop="true">
    <ion-floating-item icon="ion-trash-b" click="deleteRestaurant(restaurant)" button-color="#ef473a" text="Delete Restaurant"></ion-floating-item>
    <ion-floating-item icon="ion-edit" click="editRestaurant(restaurant)" button-color="#387ef5" text="Edit Restaurant"></ion-floating-item>
    <ion-floating-item icon="ion-plus" click="advertise(restaurant)" button-color="#387ef5" ng-if="!ad.exists" text="Advertise Restaurant"></ion-floating-item>
    <ion-floating-item icon="ion-plus" click="advertise(restaurant)" button-color="#387ef5" ng-if="ad.exists" text="Edit Advertise Restaurant"></ion-floating-item>

  </ion-floating-menu>
  <ion-content class="has-tabs-top">
    <div class="img-slides">
      <ion-slides class="block" options="options" slider="slide.slider">
        <ion-slide-page>
          <div class="fill">
            <img ng-if="restaurant.photoURL" ng-src="{{restaurant.photoURL}}">
            <img ng-if="!restaurant.photoURL" ng-src="img/sample.jpg">
          </div>
        </ion-slide-page>
        <ion-slide-page ng-repeat="image in restaurant.images" ng-if="image">
          <div class="fill">
            <img ng-src="{{image.src}}">
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
    <div class="list card no-margin-top">
      <div class="item item-thumbnail-left item-text-wrap">
        <img ng-if="restaurant.photoURL" ng-src="{{restaurant.photoURL}}"/>
        <img ng-if="!restaurant.photoURL" ng-src="img/wow.jpg">
        <div class="row">
          <h2 id="restaurant-name" class="capitalize">
            {{restaurant.name}}
          </h2>
          <h2 style="color:green">
            <icon class="ion-android-star-outline"></icon>
            {{avg}}
          </h2>
        </div>
        <hr>
        <div class="row">
          <h4>{{restaurant.location}}
            <span class="ion-navigate" ui-sref="tabs.viewRestaurant.location"></span>
          </h4>
        </div>
      </div>
      <hr class="faded">
      <div class="item item-text-wrap padding">
        <div class="open text-center" ng-if="restaurantOpenStatus">
          <h2 class="bold">OPEN</h2>
          <p>Restaurant Hours:
            {{ restaurant.openTime | date:'shortTime' }}
            -
            {{ restaurant.closeTime | date:'shortTime' }}</p>
        </div>
        <div class="closed text-center" ng-if="!restaurantOpenStatus">
          <h2 class="bold">CLOSED</h2>
          <p>Opens at
            {{ restaurant.openTime | date:'shortTime' }}
            -
            {{ restaurant.closeTime | date:'shortTime' }}</p>
        </div>
        <hr class="faded">
        <button class="button button-balanced button-block ink" ng-click="callNumber(restaurant.phonenumber)">
          <icon class="ion-android-call"></icon>
          Call Us
        </button>
      </div>
    </div>

    <div class="card" ng-if="ad.exists">
      <p class="padding" ng-if="ad.isValid" style="color:green">
        This restaurant is currently advertised. Advertisement will end at
        {{ad.details.endDate| date: "MMM d, y"}}.
      </p>
      <p class="padding" ng-if="!ad.isValid" style="color:red">
        Restaurant advertisement has ended on
        {{ad.details.endDate | date: "MMM d, y"}}
        over. Create a new ad campaign by tapping the option button.
      </p>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <span class="bold">DETAILS</span>
      </div>
      <div class="row">
        <div class="item item-text-wrap">
          <span class="bold">Contact Number:</span>
          {{restaurant.phonenumber}}
        </div>
      </div>
      <div class="row">
        <div class=" item item-text-wrap">
          <span class="bold">Type:</span>
          {{restaurant.type}}
        </div>
      </div>
      <div class="row">
        <div class="item item-text-wrap">
          <span class="bold">Cuisine:</span>
          {{restaurant.cuisine}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="item item-divider">
            <span class="bold">Days Open:</span>
          </div>
          <div class="item item-text-wrap">
            <p ng-repeat="(key, val) in restaurant.openDays track by $index" ng-if="val === true">
              {{days[key].name}}
            </p>
          </div>
        </div>
        <div class="col">
          <div class="item item-divider">
            <span class="bold">Facilities:</span>
          </div>
          <div class="item item-text-wrap">
            <p ng-repeat="(key, val) in restaurant.facilities">
              {{getFacilityName(key)}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
