<ion-view view-title="Interact :: Orders">
  <ion-content class="padding has-tabs-top">
    <h3>Displaying {{filterType}} reservations</h3>
    <div class="button-bar">
      <button class="button button-small button-balanced" ng-click="setFilter('today')">View Today</button>
      <button class="button button-small button-balanced" ng-click="setFilter('all')">View All</button>
      <button class="button button-small button-balanced" ng-click="setFilter('month')">View Month</button>
    </div>

    <ion-item  ng-repeat="order in orders | orderBy:'-details.order_details.timestamp' | filter:orderFilter(filterType) ">
      <h6>Order Reference #{{order.details.order_details.timestamp}}</h6>
      <p>
      Customer Name: {{order.customer}}
      </p>
      <ion-item ng-repeat="menu in order.menus">
        <p>
        Name : {{menu.name}}
        </p>
        <p>
          Quantity : {{menu.quantity}}
        </p>
        <p>
        Price : {{menu.price}}
        </p>
        <p>
          Subtotal : {{ menu.price  * menu.quantity }}
        </p>
      </ion-item>
      <p>
        Location: {{order.details.order_details.location}}
      </p>
      <p>
        Additional Notes: {{order.details.order_details.note}}
      </p>
      <p>
        Total : {{order.details.order_details.totalprice}}
      </p>
      <p>
        Order Status : {{order.details.order_details.status}}
      </p>
      <ion-checkbox ng-repeat="(key, val) in order.details.orderStatus" ng-model="order.details.orderStatus[key]" ng-change="changeOrderStatus(order.details.$id, key, order.details.orderStatus[key])">
        {{key}}
      </ion-checkbox>
      <button class="button button-positive" ng-click="openMapModal(order)">Open Map</button>
    </ion-item>
  </ion-content>
</ion-view>
