<ion-view view-title="Interact :: Reservations">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-plus" menu-open-color="#444" backdrop="true">
    <ion-floating-item icon="ion-ios-calendar-outline" button-color="#387ef5" click="walkinReservation()" text="Add Reservation"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="padding has-tabs-top">
    <h3 class="capitalize text-center">Displaying: {{filterType}}</h3>
    <div class="button-bar">
      <button class="button button-small button-balanced" ng-click="setFilter('today')">Today</button>
      <button class="button button-small button-balanced" ng-click="setFilter('all')">All</button>
      <button class="button button-small button-balanced" ng-click="setFilter('upcoming')">Upcoming</button>
      <button class="button button-small button-balanced" ng-click="setFilter('confirmed')">Confirmed</button>
    </div>

    <div class="card list padding" ng-repeat="reservation in reservations | orderBy:'-details.timestamp' | filter: reservationFilter(filterType)" ng-if="reservation.ready">
      <div class="item item-text-wrap">
        <p>
          <icon class="ion-ios-barcode-outline"></icon> Reference #{{reservation.details.timestamp}}</p>
        <p><span class="button button-outline button-small button-balanced" ng-if="today === reservation.day">Today</span></p>
        <p><span ng-if="reservation.details.name == undefined">
            <icon class="ion-person"></icon> Customer Name: {{reservation.customer_name}}
        </span>
          <span ng-if="reservation.details.name">
            <icon class="ion-person"></icon>
            Customer Name: {{reservation.details.name}}
        </span></p>
        <p>
          <icon class="ion-person-stalker"></icon>
          Number of seats: {{reservation.details.number_of_persons}}</p>
        <p>
          <icon class="ion-ios-calendar-outline"></icon>
          Date: {{reservation.details.datetime | date: "MMM d, y h:mm a"}}</p>
        <p>
          <icon class="ion-ios-list-outline"></icon>
          Note: {{reservation.details.note}}</p>
      </div>

      <div class="item item-text-wrap" ng-show="reservation.details.status">
        Status: {{reservation.details.status}}
      </div>

      <div class="button-bar" ng-if="reservation.details.status !== 'walk-in'">
        <button class="button button-small button-outline button-balanced" ng-click="confirm(reservation.details)" ng-if="reservation.details.status === 'pending'">
        Confirm
      </button>
        <button class="button button-small button-outline button-royal" ng-click="remind(reservation.details)" ng-if="reservation.details.status === 'confirmed'">
        Remind
      </button>
        <button class="button button-small button-outline button-assertive" ng-click="reject(reservation.details)" ng-if="reservation.details.status !== 'cancelled'">
        Reject
      </button>
      </div>
    </div>
  </ion-content>
</ion-view>
