<ion-view view-title="dashboard-interact">
  <ion-content class="padding has-tabs-top">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item x">
            <a class="button button-block button-calm" ng-click="goToOrders()">ORDERS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            <a class="button button-block button-calm" ng-click="goToReservations()">RESERVATIONS</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            <a class="button button-block button-calm" ui-sref="tabs.notifications">NOTIFICATIONS</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap">
            <a class="button  button-block button-calm" ng-click="goToReviews()">REVIEWS</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
