<ion-view view-title="{{restaurant.name}} - Add Menu">
  <ion-content class="padding">
      <!-- <a class="button icon ion-home" href="#/tab/home">Restaurant</a> -->
      <ion-list>
        <ion-item >
          <form ng-submit="addMenu(menu)">
            <a class="button button-icon icon ion-camera" ng-click="upload(1)">CAM</a>
            <a class="button button-icon icon ion-camera" ng-click="upload(2)">ALBUM</a>
            <div>
              <img ng-src="data:image/jpeg;base64,{{imageURL}}" width="40%"/>
            </div>
            <div class="list">
              <label class="item item-input">
                Name:<input type="text" ng-model="menu.name">
              </label>
              <label class="item item-input">
                Price:<input type="number" ng-model="menu.price">
              </label>
              {{menu.category}}
              <label class="item item-input item-select">
                <div class="input-label">
                  Category
                </div>
                <select ng-model="menu.category">
                  <option ng-repeat="category in categories" value="{{category.$id}}">
                    {{category.name}}
                  </option>
                </select>
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Add menu</button>
            </div>
          </form>
        </ion-item>

        <ion-item>
          <a class="button-calm" ui-sref="tabs.restaurant">back</a>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
