<ion-modal-view view-title="Order Form">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Order Form</h1>
    <button class="button button-clear button-primary" ng-click="addToCartModal.hide()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <div class="card">
        <ion-item id="form-input">
          <form ng-submit="sendToCart(menu)">
            <img id="profile-image" ng-src="{{menuPhoto}}">
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">Menu Name</span>
              <input type="text" placeholder="Menu Name" value="{{menuName}}" readonly>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">Price</span>
              <input type="text" placeholder="Price" value="{{menuPrice}}" readonly>
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">Quantity</span>
              <input type="number" placeholder="Quantity" ng-model="menu.quantity">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label has-input">Subtotal</span>
              <input type="number" placeholder="Subtotal" value={{menuPrice*menu.quantity}} readonly>
            </label>

            <div class="row">
              <button class="button button-block button-balanced ink">Add to Cart</button>
            </div>
          </form>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
