  <ion-view view-title="RestaurantMenus">
  <ion-content class="padding">

      <ion-list>
        <ion-item ng-repeat="menu in menus" ng-if="menu.ready">
          <ion-toggle ng-model="menu.details.availability" ng-change="changeAvailability(menu.details)" toggle-class="toggle-calm"><h3>{{menu.details.name}}</h3></ion-toggle>

            <p>
              P {{menu.details.price}}
            </p>
            {{menu.details.category_id}}
            <ion-option-button class="button-royal" ng-click="deleteMenu(menu.details)">
              Delete
            </ion-option-button>
            <ion-option-button class="button-calm" ng-click="editMenu(menu.details)">
              Edit
            </ion-option-button>
        </ion-item>
      </ion-list>
      <p>
        <a class="button-calm" ui-sref="tabs.restaurant">back</a>
      </p>
  </ion-content>
</ion-view>
