  <ion-view view-title="RestaurantMenus">
  <ion-content class="padding">

      <ion-list>
        <ion-item ng-repeat="menu in restaurantMenus">
          <ion-toggle ng-model="menu.availability" ng-change="changeAvailability(menu)" toggle-class="toggle-calm"><h3>{{menu.name}}</h3></ion-toggle>

            <p>
              P {{menu.price}}
            </p>
            <ion-option-button class="button-royal" ng-click="deleteMenu(menu)">
              Delete
            </ion-option-button>
            <ion-option-button class="button-calm" ng-click="editMenu(menu)">
              Edit
            </ion-option-button>
        </ion-item>
      </ion-list>
      <p>
        <a class="button-calm" ui-sref="tabs.restaurant">back</a>
      </p>
  </ion-content>
</ion-view>
