<ion-modal-view view-title="Edit Profile Photo">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Edit Profile Photo</h1>
    <button class="button button-clear button-primary" ng-click="editPhotoModal.hide()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <div class="card">
        <ion-item id="form-input">
          <div class="row">
            <div class="col text-center">
              <img id="profile-preview" ng-show="photoURL" ng-src="{{photoURL}}">
              <img id="profile-preview" ng-show="!photoURL" ng-src="img/ionic.png">
              <p ng-show="photoURL"> Edit Profile Picture</p>
              <p ng-show="!photoURL">You currently have no profile picture. Add one.</p>
            </div>
          </div>
          <form ng-submit="editPhoto(firebaseUser)">
            <div ng-if="!photoURL" class="row">
              <div class="col text-center">
                <a class="button button-icon icon ion-camera" ng-click="upload(1)"> Camera</a>
                <a class="button button-icon icon ion-image" ng-click="upload(2)"> Album</a>
              </div>
            </div>
            <div class="row" ng-if="photoURL">
              <div class="col text-center">
                <a class="button button-icon icon ion-camera" ng-click="upload(1)"> Camera</a>
                <a class="button button-icon icon ion-image" ng-click="upload(2)"> Album</a>
              </div>
            </div>
            <div class="row">
              <button class="button button-balanced icon ion-checkmark"> Submit</button>
              <button class="button button-assertive icon ion-ios-close" ng-click="editPhotoModal.hide()"> Cancel</button>
            </div>
          </form>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
