<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-android-options" ng-click="openPopover($event, firebaseUser)"></a>
  </ion-nav-buttons>
  <ion-content>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" ng-show="firebaseUser.photoURL" ng-src="{{firebaseUser.photoURL}}">
        <img id="profile-image" ng-show="!firebaseUser.photoURL" ng-src="img/ionic.png">
        <h3 id="profile-name" ng-if="firebaseUser.provider !== email">{{firebaseUser.displayName}}</h3>
        <h3 id="profile-name" ng-if="firebaseUser.provider === email">{{firebaseUser.firstName}} {{firebaseUser.lastName}}</h3>
        <p id="profile-description" ng-if="firebaseUser.description"> {{ firebaseUser.description }} </p>
        <p id="profile-description" ng-if="!firebaseUser.description"> <a ng-click="openEditProfile()">Add a description</a> </p>
      </div>
      <ion-list>
        <ion-item>
          <img class="post-profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
          <div class="post-time"></div>
          <div class="post-options">
            <i class="icon-reply"></i>
            <i class="icon-shuffle"></i>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
