<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jepoys App</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <link href="css/ionic.app.css" rel="stylesheet">
  <link href="lib/angular-ui-select/dist/select.css" rel="stylesheet" />
  <!-- <link href="lib/ionic-material/dist/ionic.material.css" rel="stylesheet"> -->
  <!-- <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet"> -->
  <!-- <link href="lib/ion-md-input/css/ion-md-input.css" rel="stylesheet"> -->
  <!-- <link href="lib/ion-datetime-picker/release/ion-datetime-picker.min.css" rel="stylesheet"> -->
  <script src="lib/bluebird.min.js"></script>
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic.cloud.min.js"></script>
  <!-- // <script src="lib/ionic-material/src/js/ionic-material.js"></script> -->
  <script src="lib/ionic-material/dist/ionic.material.js"></script>
  <script src="lib/ion-md-input/js/ion-md-input.js"></script>
  <script src="lib/firebase/firebase.js"></script>
  <script src="lib/angularfire/dist/angularfire.min.js"></script>
  <script src="lib/ion-datetime-picker/release/ion-datetime-picker.min.js"></script>
  <script src="lib/ionic-rating/ionic-rating.min.js"></script>
  <script src="lib/angular-ui-select/dist/select.js"></script>
  <!-- <script src="lib/angular-ui-select/dist/select.css"></script> -->
  <script src="lib/ion-gallery/dist/ion-gallery.min.js"></script>
  <script src="lib/ionic-image-lazy-load/ionic-image-lazy-load.js"></script>
  <script src="lib/ion-floating-menu/dist/ion-floating-menu.js"></script>
  <script src="lib/ionic-ion-horizontal-scroll-cards/ionic.hscrollcards.js"></script>
  <!-- map -->
  <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
  <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
  <script src="lib/angular-ui-mask/dist/mask.js"></script>
  <script src="lib/lodash/lodash.js"></script>
  <script src="lib/angular-timeago/dist/angular-timeago.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3B5hB3NN1q1_9ro_Rfge5g-25phvvp7c&libraries=geometry,visualization,places"></script>
  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/app.routes.js"></script>
  <!-- config -->
  <script src="js/firebase.config.js"></script>
  <!-- user -->
  <script src="app/cart/cart.controller.js"></script>
  <script src="app/cart/cart.data.service.js"></script>
  <script src="app/cart/cart.service.js"></script>
  <!-- database -->
  <script src="app/database/database.factory.js"></script>
  <!-- home -->
  <script src="app/home/home.controller.js"></script>
  <script src="app/home/home.factory.js"></script>
  <!-- search -->
  <script src="app/search/search.controller.js"></script>
  <script src="app/search/search.factory.js"></script>
  <script src="app/search/search.filter.js"></script>
  <!-- login -->
  <script src="app/login/auth.provider.js"></script>
  <script src="app/login/login.controller.js"></script>
  <script src="app/login/login.factory.js"></script>
  <!-- menu -->
  <script src="app/menu/add-menu.controller.js"></script>
  <script src="app/menu/menu-avg.controller.js"></script>
  <script src="app/menu/menus.controller.js"></script>
  <script src="app/menu/menu.factory.js"></script>
  <script src="app/menu/view-menus.controller.js"></script>
  <!-- <script src="app/menu/view-restaurant-menus-order.controller.js"></script> -->
  <!-- notification -->
  <script src="app/notification/notifications.controller.js"></script>
  <script src="app/notification/notification.service.js"></script>
  <!-- order -->
  <script src="app/order/my-orders.controller.js"></script>
  <script src="app/order/orders.controller.js"></script>
  <script src="app/order/order.service.js"></script>
  <!-- restaurant -->
  <script src="app/restaurant/restaurants.controller.js"></script>
  <script src="app/restaurant/restaurant.factory.js"></script>
  <!-- <script src="app/restaurant/restaurant.module.js"></script> -->
  <script src="app/restaurant/view-restaurant.controller.js"></script>
  <script src="app/restaurant/view-restaurant-location.controller.js"></script>
  <script src="app/restaurant/view-restaurant-menus.controller.js"></script>
  <!-- dashboard -->
  <script src="app/dashboard/dashboard-main.controller.js"></script>
  <script src="app/dashboard/dashboard-menus.controller.js"></script>
  <script src="app/dashboard/dashboard-interact.controller.js"></script>
  <script src="app/dashboard/dashboard.controller.js"></script>
  <!-- <script src="app/dashboard/dashboard.factory.js"></script> -->
  <!-- reservation -->
  <script src="app/reservation/add-reservation.controller.js"></script>
  <script src="app/reservation/my-reservations.controller.js"></script>
  <script src="app/reservation/reservation.service.js"></script>
  <!-- review -->
  <script src="app/review/review.factory.js"></script>
  <script src="app/review/review.controller.js"></script>
  <!-- signup -->
  <script src="app/signup/signup.controller.js"></script>
  <!-- user -->
  <script src="app/user/users.controller.js"></script>
  <script src="app/user/user.factory.js"></script>
  <!-- <script src="app/user/user.module.js"></script> -->
  <script src="app/user/user.service.js"></script>
  <!-- service -->
  <script src="app/service/service.factory.js"></script>
  <!-- profile -->
  <script src="app/profile/profile.controller.js"></script>
  <!-- ionicPush -->
  <script src="app/ionicPush/ionicPush.service.js"></script>
  <!-- cordova -->
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.js"></script>
  <script src="app/cordovaService/cordovaGeolocation.service.js"></script>
  <script src="app/upload/upload.service.js"></script>
  <script src="cordova.js"></script>
  <!-- toast -->
  <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
  <!-- action button -->
  <script src="lib\material-action-button\ion-action-button.js"></script>
  <!-- end of data -->

</head>

<body ng-app="app">

  <ion-side-menus ng-controller="AppCtrl" ng-cloak>
    <ion-side-menu-content>
      <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view animation="slide-left"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" enable-menu-with-back-views="false">
      <ion-header-bar class="bar-profile bar-stable">
        <div ng-show="firebaseUser" class="profile">
          <img class="sidebar-picture" ng-show="newPhotoURL" ng-src="{{currentUser.photoURL}}" style="width: 50px; height: 50px">
          <img class="sidebar-picture" ng-show="!newPhotoURL" ng-src="img/ionic.png" style="width: 50px; height: 50px">
          <h3 class="sidebar-name" ng-if="firebaseUser.provider !== email">{{firebaseUser.displayName}}</h3>
          <h3 class="sidebar-name" ng-if="firebaseUser.provider === email">{{firebaseUser.firstName}} {{firebaseUser.lastName}}</h3>
        </div>
        <div ng-hide="firebaseUser" class="profile">
          <img class="sidebar-picture" ng-src="img/ionic.png" style="width: 100px; height: 100px">
        </div>
      </ion-header-bar>

      <ion-content has-header="true">
        <ion-list>
          <!-- <a class="item" href="#/tab/home">Home</a>
            <a class="item" href="#/tab/home">Search</a>
            <a class="item" href="#/tab/home">Profile</a>
            <div class="item item-divider"></div>
            <a class="item" href="#/tab/home">Profile</a> -->
          <ion-item menu-close ui-sref="tabs.home" class="item-borderless" ng-show="firebaseUser">
            Home
          </ion-item>
          <ion-item menu-close ui-sref="login" class="item-borderless" ng-hide="firebaseUser">
            Login or Signup
          </ion-item>
          <!-- <ion-item menu-close ui-sref="signup" class="item-borderless" ng-hide="firebaseUser">
            Sign Up
          </ion-item> -->
          <ion-item menu-close ui-sref="tabs.search" ng-show="firebaseUser" class="item-borderless">
            Search
          </ion-item>
          <ion-item menu-close ui-sref="profile" ng-show="firebaseUser" class="item-borderless">
            Profile
          </ion-item>
          <hr ng-show="firebaseUser">
          <ion-item menu-close ng-show="firebaseUser" ui-sref="tabs.restaurant" class="item-borderless">
            Restaurants
          </ion-item>
          <ion-item menu-close ng-show="firebaseUser" class="item-borderless">
            Notifications
          </ion-item>
          <ion-item menu-close ng-show="firebaseUser" class="item-borderless" ui-sref="tabs.orders">
            Orders
          </ion-item>
          <hr ng-show="firebaseUser">
          <ion-item menu-close ng-show="firebaseUser" class="item-borderless" ng-click="signOut()">
            Sign Out
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>
</body>


</html>
