<ion-modal-view view-title="Edit Restaurant">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Edit {{restaurantName}}</h1>

    <div class="buttons">
      <button class="button button-clear button-primary icon ion-ios-close" ng-click="closeEditRestaurant()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <div class="card">
        <ion-item id="form-input">
          <form ng-submit="edit(eRestaurant)" name="editRestaurantForm">
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">Name of Restaurant</span>
                <input type="text" placeholder="Name of Restaurant" ng-model="eRestaurant.name" name="name" ng-required="true">
                <div class="error" ng-show="editRestaurantForm.name.$touched">
                  <p ng-show="editRestaurantForm.name.$error.required">* Restaurant name is required</p>
                </div>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">Contact Number</span>
                <input type="number" placeholder="Contact Number" ng-model="eRestaurant.phonenumber" name="phonenumber" ng-required="true" ng-minlength="5" ng-maxlength="16" min="0">
                <div ng-show="editRestaurantForm.phonenumber.$touched" class="error">
                  <p ng-show="editRestaurantForm.phonenumber.$error.required">* Contact Number is required</p>
                  <p ng-show="editRestaurantForm.phonenumber.$error.minlength">* Contact Number must be longer than 5</p>
                  <p ng-show="editRestaurantForm.phonenumber.$error.maxlength">* Contact Number must be shorter than 16</p>
                </div>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">Type of Restaurant</span>
                <input type="text" placeholder="Type of Restaurant" ng-model="eRestaurant.type" name="type" ng-required="true">
                <div class="error" ng-show="editRestaurantForm.type.$touched">
                  <p ng-show="editRestaurantForm.type.$error.required">* Restaurant's type is required</p>
                </div>
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label has-input">Cuisine of Restaurant</span>
                <input type="text" placeholder="Cuisine of Restaurant" ng-model="eRestaurant.cuisine" name="cuisine" ng-required="true">
                <div class="error" ng-show="editRestaurantForm.cuisine.$touched">
                  <p ng-show="editRestaurantForm.cuisine.$error.required">* Restaurant's cuisine is required</p>
                </div>
              </label>
              <div class="item item-text-wrap">
                <a class="button button-block button-royal icon-left ion-plus-circled" ng-click="setHours()">Set Hours</a>
                <div class="col text-center" ng-show="eRestaurant.openTime && eRestaurant.closeTime">
                  Opening Hours : {{eRestaurant.openTime| date: "h:mm a"}} - {{eRestaurant.closeTime| date: "h:mm a"}}
                </div>
              </div>
              <div class="item item-text-wrap">
                <a class="button button-block button-royal icon-left ion-plus-circled" ng-click="setFacilities()">Set Facilities</a>

                <div class="col text-center">
                  <p ng-repeat="(key, val) in eRestaurant.facilities" ng-if="val">
                    {{key}}
                  </p>
                </div>
              </div>
              <div class="item">
                <a class="button button-block button-royal icon-left ion-plus-circled" ng-click="setOpenDays()">Set Open Days</a>
                <div class="col text-center">
                  <p ng-repeat="(key, val) in eRestaurant.openDays track by $index" ng-if="val === true">

                    {{days[key].name}}
                  </p>
                </div>
              </div>
              <!-- <div class="item item-input-inset">
                <label class="item-input item-floating-label">
                  <span class="input-label has-input">Location of Restaurant</span>
                  <input type="text" placeholder="Location of Restaurant" ng-model="eRestaurant.location" name="location" ng-required="true">
                  <div class="error" ng-show="editRestaurantForm.location.$touched">
                    <p ng-show="editRestaurantForm.location.$error.required">* Restaurant's location is required</p>
                  </div>
                </label>
                <a class="button button-royal icon ion-map" ng-click="showMap()"></a>
              </div> -->
              <a class="button button-small button-balanced" ng-click="useCurrent()">Use Current Location</a>
              <label class="item-input item-floating-label">
                <span class="input-label has-input">Location of Restaurant</span>
                <input type="text" placeholder="Change address" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" ng-model="data.location.formatted_address" readonly />
                <!-- <input type="text" placeholder="Location of Restaurant" ng-model="restaurant.location" details="data.detail"/> -->

              </label>

              <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{marker.coords.latitude}},{{marker.coords.longitude}}
                              &zoom=18
                              &size=500x300
                              &markers={{marker.coords.latitude}},{{marker.coords.longitude}}
                              &key=AIzaSyCTNmJQD-Z3qn5QmhC-Jfp4iZr6P6QV_tE" ng-if="marker.coords.latitude && marker.coords.longitude">

              <a class="button button-block button-royal icon-left ion-map" ng-click="showMap()" ng-disabled="!data.location.formatted_address">Edit marker on map</a>
              <div class="item">
                <div class="row">
                  <div class="col text-center">
                    Edit image
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <img class="center" ng-show="!imageURL && !eRestaurant.photoURL" ng-src="img/ionic.png" width="100%" />
                    <img class="center" ng-show="!imageURL && eRestaurant.photoURL" ng-src="{{eRestaurant.photoURL}}" width="100%" />
                    <img class="center" ng-show="imageURL" ng-src="{{imageURL}}" width="100%" />
                    <!-- <div ng-show="progress" class="progress-bar" style="width: {{progress}}%;">
                      <p class="percent">{{progress}}%</p>
                    </div> -->
                    <div class="col text-center">
                      <ion-spinner ng-if="imageLoading" icon="android"></ion-spinner>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a class="button button-block button-positive icon ion-camera" ng-click="upload(1)"></a>
                  </div>
                  <div class="col">
                    <a class="button button-block button-calm icon ion-image" ng-click="upload(2)"></a>
                  </div>
                </div>

              </div>
              <div class="padding">
                <button type="submit" class="button button-block button-balanced">Save Changes</button>
              </div>
            </div>
          </form>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
