<ul class="list">
  <li class="item item-checkbox" ng-repeat="facility in facilities">
    <label class="checkbox">
      <input type="checkbox" ng-model="restaurant.facilities[facility.$id]">
    </label>
    {{facility.name}}
  </li>
</ul>

<!-- <p ng-repeat="(key, val) in days">
  {{key}} {{days[key]}}
</p>
{{restaurant.days}}
<ul class="list">
  <li class="item item-checkbox" ng-repeat="(key, val) in days">
    <label class="checkbox">
      <input type="checkbox" ng-model="restaurant.days[key]"
    </label>
    {{days[key]}}
  </li>
</ul> -->
