<ion-view view-title="Restaurant">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-plus" menu-open-color="#444" backdrop="true">
    <ion-floating-item icon="ion-android-restaurant" click="newRestaurant()" button-color="#387ef5" text="Add Restaurant"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <h2>Restaurateur: {{AppUser.firstName}} {{AppUser.lastName}} </h2>
      </div>
    </div>
    <!-- <div>
      <button ng-click="newRestaurant()" class="button button-block button-positive">
        <icon class="ion-plus"></icon> New Restaurant</button>
    </div> -->
    <ion-list>
      <ion-item class="text-wrap" ng-repeat="restaurant in displayRestaurants">

        <button class="button button-small button-calm" ui-sref="tabs.dashboard.main({restaurantId:restaurant.$id})">View in dash</button>
        <h3 class="capitalize"><icon class="ion-spoon"></icon> {{restaurant.name}}</h3>
        <!-- {{restaurant}} -->
        <p>
          <icon class="ion-ios-location-outline"></icon> {{restaurant.location}}
        </p>

        <ion-option-button class="button-royal" ng-click="deleteRestaurant(restaurant)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="editRestaurant(restaurant)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
