<ion-view view-title="Restaurant">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-plus" menu-open-color="#444" backdrop="true">
    <ion-floating-item icon="ion-android-restaurant" click="newRestaurant()" button-color="#387ef5" text="Add Restaurant"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="padding">
    <div class="card">
      <h4 class="text-center">Restaurateur: {{AppUser.firstName}} {{AppUser.lastName}} </h2>
    </div>
    <!-- <div>
      <button ng-click="newRestaurant()" class="button button-block button-positive">
        <icon class="ion-plus"></icon> New Restaurant</button>
    </div> -->


    <div class="card ink" ng-repeat="restaurant in displayRestaurants" ui-sref="tabs.dashboard.main({restaurantId:restaurant.$id})" ng-last-repeat="workorderlist">
        <div class="item item-thumbnail-left item-text-wrap">
            <img class="img-thumbnail" ng-if="restaurant.photoURL" ng-src="{{restaurant.photoURL}}" />
            <img ng-if="!restaurant.photoURL" ng-src="img/wow.jpg">
            <h3 ng-init="addMarkers(restaurant.details)" class="capitalize">
                <icon class="ion-spoon"></icon> {{restaurant.name}}
            </h3>
          <p>
            <icon class="ion-ios-location-outline"></icon> {{restaurant.location}}
          </p>
        </div>
    </div>


    <!-- <ion-option-button class="button-royal" ng-click="deleteRestaurant(restaurant)">
      Delete
    </ion-option-button>
    <ion-option-button class="button-calm" ng-click="editRestaurant(restaurant)">
      Edit
    </ion-option-button> -->

  </ion-content>
</ion-view>
