<ion-modal-view view-title="DynamicMap">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Restaurant Map Location</h1>
    <div class="buttons">
      <button class="button button-clear button-primary icon ion-ios-close" ng-click="mapModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="no-padding">
    <div class="list card">
      <div class="item item-text-wrap">
        <h2>{{location}}</h2>
        <button class="button button-positive button-block button-small" ng-click="showPath(restaurant,'DRIVING')">
          Driving Path Distance:
          {{drivingD}}
          KM
        </button>
        <button class="button button-positive button-block button-small" ng-click="showPath(restaurant,'WALKING')">
          Walking Path Distance:
          {{walkingD}}
          KM
        </button>

      </div>
    </div>
    <div ng-if='restaurant.latitude != null && restaurant.longitude != null'>
      <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' events='map.events' control="modalControl" dorebuildall=true>
        <ui-gmap-markers models="restaurantMarkers" coords="'coords'" icon="'icon'"></ui-gmap-markers>
        <ui-gmap-polylines models="mapDirection" path="'paths'" stroke="'stroke'"></ui-gmap-polylines>
      </ui-gmap-google-map>
    </div>
  </ion-content>
</ion-modal-view>
