<ion-view view-title="{{restaurant.name}}">
  <ion-content overflow-scroll="true" class="padding has-tabs-top">

        <div ng-if='restaurant.latitude != null && restaurant.longitude != null' ng-init='setMap(restaurant)'>
          <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' events='map.events'>
            <ui-gmap-markers models="restaurantMarkers" coords="'coords'" icon="'icon'"></ui-gmap-markers>
            <ui-gmap-map-control position="top-right">
              <button class="button button-small button-balanced" ng-click="showPath(restaurant)">Show Driving Path</button>
            </ui-gmap-map-control>
            <ui-gmap-polylines models="mapDirection" path="'paths'" stroke="'stroke'"></ui-gmap-polylines>
          </ui-gmap-google-map>
        </div>
        
  </ion-content>
</ion-view>
