<ion-view view-title="{{restaurant.name}}">
  <ion-content overflow-scroll="true" class="padding has-tabs-top">
    <div ng-init='setMap(restaurant)'>
      <h3>{{location}}</h3>
    </div>
      <div ng-if='restaurant.latitude != null && restaurant.longitude != null'>
        <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' events='map.events'>
          <ui-gmap-markers models="restaurantMarkers" coords="'coords'" icon="'icon'"></ui-gmap-markers>
          <ui-gmap-polylines models="mapDirection" path="'paths'" stroke="'stroke'"></ui-gmap-polylines>
        </ui-gmap-google-map>
      </div>
      <div>
        <button class="button button-positive" ng-click="showPath(restaurant,'DRIVING')">Show Driving Path</button>
        <button class="button button-positive" ng-click="showPath(restaurant,'WALKING')">Show Walking Path</button>
      </div>
    </ion-content>
</ion-view>
