<ion-view view-title="{{restaurant.name}}">
  <ion-content class="padding has-tabs-top">
    <button class="button button-calm" ng-di ng-click="viewCart()"> <i class="ion-android-cart"> </i> Cart{{count}}</button>
    <ion-list>
      <h1>{{status}}</h1>
      <ion-item ng-repeat="menu in menus" ng-if="menu.ready">
        <h3>{{menu.details.name}}</h3>
        <img id="profile-image" ng-src="{{menu.details.photoURL}}">
        <button class="button button-calm" ng-disabled="!menu.details.availability" ng-click="addToCart(menu.details)">Buy</button>
        <p>{{availability(menu.details)}}</p>
        <p>
          P {{menu.details.price}}
        </p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
