<ion-view view-title="{{restaurant.name}}">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-android-cart" menu-open-color="#444" menu-open-icon="ion-arrow-down-b" backdrop="true">
    <ion-floating-item icon="ion-android-cart" click="viewCart()" button-color="#387ef5" text="View Cart"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="has-tabs-top">
    <!-- <button class="button button-calm" ng-di ng-click="viewCart()"> <i class="ion-android-cart"> </i> Cart{{count}}</button> -->

    <h1>{{status}}</h1>
    <h6 ng-if="promos.length != 0">Promos</h6>
    <ion-slides options="options" slider="data.slider" ng-if="promos.length != 0">
      <ion-slide-page ng-repeat="promo in promos | filter:promoFilter()" ng-if="promos.length != 0">
        <!-- <div><img class="slider-imgs" ng-src="img/material-wall.jpg"></div> -->
        <div class="card">
          <div class="item item-thumbnail-left">
            <img class="img-thumbnail" ng-src="{{promo.photoURL}}" />
            <h3>
                <icon class="ion-spoon"></icon> {{promo.name}}
              </h3>
            <p>
              Promo Duration: {{promo.startDate | date: "MMM d, y"}} to {{promo.endDate| date: "MMM d, y"}}
            </p>
            <p>
              {{promo.description}}
            </p>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>

    <ion-list class="no-margin-top">
      <div ng-repeat="category in categories">
        <ion-item class="item-stable" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
          <i class="icon" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{category.name}}
        </ion-item>
        <ion-item class="item-accordion item-thumbnail-left" ng-repeat="menu in category.menus" ng-show="isGroupShown(category)">
          <img ng-src="{{menu.details.photoURL}}">
          <h3>{{menu.details.name}}</h3>
          <h3>{{menu.details.price | currency: '₱'}}</h3>
          <div ng-if="restaurantOpenStatus && getRestaurantStatus">
            <button class="button button-calm pull-right" ng-disabled="!menu.details.availability" ng-click="addToCart(menu.details)">
              <span ng-if="menu.details.availability">Add to cart yeah</span>
              <span ng-if="!menu.details.availability">Currently not available</span>
            </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
