<ion-view view-title="{{restaurant.name}}">
  <ion-content class="padding has-tabs-top">
    <!-- <ion-list>
      <ion-item ng-repeat="menu in restaurantMenus">
        <h3>{{menu.name}}</h3>
        <p>
          P {{menu.price}}
        </p>
        <ion-option-button class="button-royal" ng-click="deleteMenu(menu)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="editMenu(menu)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list> -->


        <button class="button button-calm"ng-di ng-click="viewCart()">Cart{{count}}</button>
        <ion-list>
          <h1>{{status}}</h1>
          <ion-item ng-repeat="menu in restaurantMenus">
              <h3>{{menu.name}}</h3><button class="button button-calm" ng-disabled="!getRestaurantStatus || !menu.availability" ng-click="addToCart(menu)">Buy</button>
              <p>{{availability(menu)}}</p>
              <p>
                P {{menu.price}}
              </p>
          </ion-item>

        </ion-list>
        <p>
          <a class="button-calm" ui-sref="tabs.viewRestaurant.main({restaurantId:restaurant.$id})">Back</a>
        </p>
  </ion-content>
</ion-view>
