<ion-view view-title="{{restaurant.name}}">
  <ion-floating-menu has-footer="true" menu-color="#886aea" menu-icon="ion-more" menu-open-color="#444" menu-open-icon="ion-arrow-down-b" backdrop="true">
    <ion-floating-item icon="ion-android-cart" ng-if="restaurant.facilities.Online" click="goToOrder()" button-color="#387ef5" text="Place an order"></ion-floating-item>
    <ion-floating-item icon="ion-android-clipboard" ng-if="restaurant.facilities.Reservation" click="showAddReservationModal()" button-color="#387ef5" text="Book a reservation"></ion-floating-item>
    <ion-floating-item icon="ion-heart" ng-if="!hasFavored" click="addToFavorites(restaurant)" button-color="#ffc900" text="Add to favorites"></ion-floating-item>
    <!-- TODO MIKEL -->
    <!-- <ion-floating-item icon="ion-heart-broken" ng-if="hasFavored" click="remove(restaurant)" button-color="#ffc900" text="Remove from favorites"></ion-floating-item> -->
  </ion-floating-menu>
  <ion-content class="has-tabs-top">
    <ion-slides class="block" options="options" slider="slide.slider">
      <ion-slide-page>
        <div class="fill">
          <img ng-src="img/sample.jpg">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="fill">
          <img ng-src="img/sample2.jpg">
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="list card padding no-margin-top">
      <div class="item item-thumbnail-left item-text-wrap">
        <img ng-if="restaurant.photoURL" ng-src="{{restaurant.photoURL}}" />
        <img ng-if="!restaurant.photoURL" ng-src="img/wow.jpg">
        <div class="row">
          <p id="restaurant-name" class="capitalize"> {{restaurant.name}} </p>
          <span style="color:green">
            <icon class="ion-android-star-outline"></icon> get kay mikel {{restaurant.avg}}
          </span>
        </div>
        <hr>
        <div class="row">
          <h4>{{restaurant.location}}</h4>
        </div>
      </div>
      <div class="item item-text-wrap item-divider text-center">
        <p ng-if="restaurantOpenStatus" style="color:green;">
          OPEN NOW Restaurant Hours: {{ restaurant.openTime | date:'shortTime' }} - {{ restaurant.closeTime | date:'shortTime' }}
          <button class="button button-balanced button-small button-outline" ng-click="CallNumber(restaurant.phonenumber)">
            <icon class="ion-android-call"></icon> Call Us
          </button>
        </p>
        <p ng-if="!restaurantOpenStatus" style="color:red;">
          CLOSED Opens at {{ restaurant.openTime | date:'shortTime' }} - {{ restaurant.closeTime | date:'shortTime' }}
        </p>
      </div>
    </div>

    <div class="card padding">
    </div>
  </ion-content>
</ion-view>
