<ion-view view-title="{{restaurant.name}}">
  <ion-content class="padding">
    <div class="card">
      <div class="item">
        <h2>{{restaurant.name}}</h2>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="review in reviews" ng-init="reviewer=getName(review.reviewer_id)">
        <div>
          <h3>
            <img ng-if="reviewer.photoURL" class="sidebar-picture" ng-src="{{reviewer.photoURL}}" style="width: 50px; height: 50px">
            <img ng-if="!reviewer.photoURL" class="sidebar-picture" ng-src="img/ionic.png" style="width: 50px; height: 50px">
            <strong>{{ reviewer.displayName }}</strong>
          </h3>
        </div>
        <div>
          {{review.content}} <span class="badge badge-balanced">{{review.rating}}</span>
        </div>
        <div ng-if="review.images" ng-repeat="img in review.images">
           <img image-lazy-src="{{img.src}}" style="width:100px" image-lazy-loader="spiral">
        </div>
        <button class="ion-reply-all button button-calm" ng-click="openReplyModal(review)" ng-init="replies=getReplies(review.$id)">Reply</button>
        <div ng-repeat="reply in replies" ng-init="replyName=getName(reply.user_id)">
          <div>
            <strong>{{replyName.displayName}}:</strong> {{reply.content}}
            <span ng-if="reply.user_id == user.$id">
              <a class="button button-balanced icon ion-edit" ng-click="openEditReplyModal(reply, review.$id)">Edit</a>
              <a class="button button-assertive icon ion-ios-close-outline" ng-click="replies.$remove(reply)">Remove</a>
            </span>
          </div>
        </div>
        <div></div>
      </ion-item>
    </ion-list>
    <!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll> -->
  </ion-content>
</ion-view>
