<ion-view>
  <ion-nav-title class="capitalize">{{restaurant.name}}</ion-nav-title>
  <ion-content class="padding has-tabs-top">
    <div class="card">
      <div class="item">
        <h2>Reviews</h2>
      </div>
    </div>

    <div class="list card" ng-repeat="review in reviews" ng-init="reviewer=getName(review.reviewer_id)" ng-last-repeat="reviewList">

      <div class="item item-avatar">
        <img ng-if="reviewer.photoURL" ng-src="{{reviewer.photoURL}}" style="width: 50px; height: 50px">
        <img ng-if="!reviewer.photoURL" ng-src="img/ionic.png" style="width: 50px; height: 50px">
        <strong>{{ reviewer.displayName }}</strong>
        <div class="rate-stars">
          <i class="icon ion-ios-star" ng-repeat="rating in [1,2,3,4,5]" ng-class="{true:'full', false:'off'}[rating <= review.rating]"></i>
        </div>
        <span class="badge badge-balanced">{{review.rating}}</span>
        <p>{{review.timestamp | date:'medium' }}</p>
      </div>

      <div class="item item-body">
        {{review.content}}
        <button class="ion-reply-all button button-calm ink" ng-click="openReplyModal(review)" ng-init="replies=getReplies(review.$id)">Reply</button>
      </div>
      <div class="item item-divider">
        Reviews
      </div>

      <div class="item" ng-repeat="reply in replies" ng-init="replyName=getName(reply.user_id)">
        <div>
          <strong>{{replyName.displayName}}:</strong> {{reply.content}}
          <span ng-if="reply.user_id == user.$id">
                <a class="button button-balanced icon ion-edit ink" ng-click="openEditReplyModal(reply, review.$id)">Edit</a>
                <a class="button button-assertive icon ion-ios-close-outline ink" ng-click="replies.$remove(reply)">Remove</a>
              </span>
        </div>
      </div>

    </div>
    <!-- <hscroller ng-if="review.images">
           <hcard ng-repeat="img in review.images" index="{{$index}}" desc="" image="{{img.src}}"></hcard>
        </hscroller> -->
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
