<ion-modal-view view-title="Edit Review">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Edit Review</h1>
    <button class="button button-clear button-primary" ng-click="editReviewModal.hide()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <form ng-submit="updateReview(review)">
      <div class="list">
        <a class="button button-block button-balanced" ng-click="selImages()">
                    Add Images From Gallery
                  </a>
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">Write review here . . . </span>
          <div>
            <textarea type="text" placeholder="Write review here . . . " ng-model="review.content" rows="6" required></textarea>
          </div>
        </label>
        <div class="item item-input">
          Rate us:
          <br>
          <rating ng-model="review.rating" max="rating.max"></rating>
        </div>
        <div class="padding row">
          <button type="submit" class="button button-block button-positive">Save</button>
        </div>
      </div>
    </form>
    <p ng-repeat="img in editImages">
      <img ng-src="{{img.src}}" style="width: 100px">
      <button ng-click="editImages.$remove(img)">Remove</button>
    </p>
    <p ng-repeat="img in images  track by $index">
      <img ng-src="{{img}}" style="max-width:250px;max-height:250px" />
    </p>
    </div>
  </ion-content>
</ion-modal-view>
