<div class="modal">
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">Edit Review</h1>
      <button class="button button-clear button-primary" ng-click="editReviewModal.hide()"><i class="icon ion-ios-close"></i></button>
    </ion-header-bar>
  <ion-content>
    <form ng-submit="updateReview(review)">
      <a class="button button-block button-balanced" ng-click="selImages()" >
        Select Images
      </a>
      <div class="list">
        <label class="item item-input">
          <textarea placeholder="Write review here . . . " ng-model="review.content"></textarea>
        </label>
          Rate us: <rating ng-model="review.rating" max="rating.max"></rating>
      </div>
      <div>
        <p ng-repeat="img in editImages">
          <img src="{{img.image}}" style="width: 100px">
          <button ng-click="editImages.$remove(img)">Remove</button>
        </p>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Save</button>
      </div>
    </form>
    <p ng-repeat="img in images  track by $index">
      <img ng-src="{{img}}" style="max-width:250px;max-height:250px" />
    </p>
  </ion-content>
</div>
