<ion-view view-title="{{ notifCount }} Notifications">
  <ion-content overflow-scroll="true" class="padding">
    <button class="button button-block button-balanced" ng-show="notifs.length != 0" ng-click="markReadAll()">Mark Read All</button>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ng-if="notif.ready" ng-repeat="notif in newNotifs | orderBy:'-timestamp'" >
        <i ng-if="notif.type === 'review'" class="icon ion-thumbsup balanced"></i>
        <i ng-if="notif.type === 'order_status'" class="icon ion-android-list assertive"></i>
        <i ng-if="notif.type === 'order'" class="icon ion-android-list positive"></i>
        <i ng-if="notif.type === 'reservation'" class="icon ion-calendar royal"></i>
        <h6 class="balanced" ng-if="notif.type === 'review'">{{notif.sender}} reviewed your restaurant {{notif.restaurant_name}} <span style="color:grey">{{notif.timestamp | timeAgo }}</span></h6>
        <h6 class="positive" ng-if="notif.type === 'order'&& notif.status === 'cancelled'">{{notif.sender}} {{notif.status}} order at {{notif.restaurant_name}} <span style="color:grey">{{notif.timestamp | timeAgo }}</span></h6>
        <h6 class="positive" ng-if="notif.type === 'order' && notif.status != 'cancelled'">{{notif.sender}} ordered at {{notif.restaurant_name}} <span style="color:grey">{{notif.timestamp | timeAgo }}</span></h6>
        <h6 class="assertive" ng-if="notif.type === 'order_status'">{{notif.restaurant_name}} Order #{{notif.order_no}} update {{notif.status}} <span style="color:grey">{{notif.timestamp | timeAgo }}</span></h6>
        <h6 class="royal" ng-if="notif.type === 'reservation'">{{notif.sender}} book a reservation at {{notif.restaurant_name}} <span style="color:grey">{{notif.timestamp | timeAgo }}</span></h6>
        <span class="item-note">
          <button class="icon button  assertive button-small ion-android-delete" ng-click="markRead(notif.self)"></button>
        </span>
      </a>
    </div>
  </ion-content>
</ion-view>
