@media only screen and (min-width:320px) and (max-width:640px), only screen and (max-width:740px) and (-webkit-device-pixel-ratio:2), only screen and (max-width:740px) and (-webkit-device-pixel-ratio:3) {
  .hide-on-mobile, .hom {
    display: none!important
  }
}
@media only screen and (min-width:641px) and (max-width:991px) {
  .hide-on-tablet, .hot {
    display: none!important
  }
}
@media only screen and (min-width:991px) {
  .hide-on-desktop {
    display: none!important
  }

ion-content {
  background-color: #6FD3EB;
}

#form-input {
  background-color: #fff;
  box-shadow: 5px 5px 2.5px grey;
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
