<ion-view view-title="Cart">
  <ion-content class="padding">
    </button>
    <h3>Cart</h3>
    <ion-list>
      <ion-item ng-repeat="order in menus">
        <p>
          Name: {{order.menu.name}} <button class="button button-calm" ng-click="delete(order.menu)">delete</button>
        </p>
        <p>
          Price: {{order.menu.price}}
        </p>
        <p>
          Quantity: {{order.menu.quantity}}
        </p>
        <p>
          Subtotal : {{order.subtotal}}
        </p>

        <p>
        <button class="button button-calm" ng-click="add(order.menu)">+</button>
        <button class="button button-calm" ng-click="minus(order.menu)">-</button>
          </form>
        </p>

      </ion-item>

      <p>
        Total : {{total}}
      </p>
      Address : <input type="text" required ng-trim="false" ng-model="location" size="40">
        <ui-gmap-google-map zoom='map.zoom' center="map.center" options='map.options' bounds='map.bounds' control='map.control' refresh=map.refresh events=map.events ng-cloak>
          <ui-gmap-map-control position="top-right">
              <a class="button button-small button-balanced" ng-click="markLocation()" >Mark Current Location</a>
          </ui-gmap-map-control>
          <ui-gmap-marker coords="marker.coords" icon="marker.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      <p>
        <button class="button button-calm" ui-sref="tabs.restaurantMenus({restaurantId:restaurantId})">back</button>
        <button class="button button-calm" ng-click="buy(menus,location)">Buy</button>
      </p>
    </ion-list>
  </ion-content>
</ion-view>
