<ion-modal-view view-title="Cart" ng-controller="CartCtrl">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Cart</h1>
    <div class="buttons">
      <button class="button button-clear button-primary" ng-click="hideCartModal()"><i class="icon ion-ios-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card" ng-repeat="order in menus">
      <div class="item item-text-wrap">
        <img id="profile-image" ng-src={{order.menu.photoURL}}>
        <p> Name: {{order.menu.name}} Price: {{order.menu.price}} Quantity: {{order.menu.quantity}} Subtotal : {{order.subtotal}}</p>

      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm" ng-click="add(order.menu)">+</button>
          <button class="button button-calm" ng-click="minus(order.menu)">-</button>
        </div>
        <div class="col">
          <button class="button icon button-assertive" ng-click="delete(order.menu)"><i class="icon ion-trash-a"></i></button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">Total</span>
          <input type="text" placeholder="Total" value="{{total}}">
        </label>

        <a class="button button-small button-balanced" ng-click="useCurrent()">Use Current Location</a>
        <label class="item-input item-floating-label">
          <span class="input-label has-input">Delivery Address</span>
          <input type="text" placeholder="Change address" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" name="location" ng-model="data.location.formatted_address" readonly ng-required=true />
          <!-- <input type="text" placeholder="Location of Restaurant" ng-model="restaurant.location" details="data.detail"/> -->
        </label>

        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{marker.coords.latitude}},{{marker.coords.longitude}}
                          &zoom=18
                          &size=500x300
                          &markers={{marker.coords.latitude}},{{marker.coords.longitude}}
                          &key=AIzaSyCTNmJQD-Z3qn5QmhC-Jfp4iZr6P6QV_tE" ng-if="marker.coords.latitude && marker.coords.longitude">

        <a class="button button-block button-royal icon-left ion-map" ng-click="showMap()" ng-disabled="!data.location.formatted_address">Edit marker on map</a>
      </div>
    </div>
    </div>
    <button class="button button-block button-calm" ng-click="buy(menus, data.location.formatted_address)">Buy</button>
  </ion-content>
</ion-modal-view>
