<ion-modal-view view-title="Cart" ng-controller="CartCtrl">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Cart</h1>
    <button class="button button-clear button-primary" ng-click="hideCartModal()"><i class="icon ion-ios-close"></i></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="card" ng-repeat="order in menus">
      <div class="item item-text-wrap">
        <img id="profile-image" ng-src={{order.menu.photoURL}}>
        <p> Name: {{order.menu.name}} Price: {{order.menu.price}} Quantity: {{order.menu.quantity}} Subtotal : {{order.subtotal}}</p>

      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm" ng-click="add(order.menu)">+</button>
          <button class="button button-calm" ng-click="minus(order.menu)">-</button>
        </div>
        <div class="col">
          <button class="button icon button-assertive" ng-click="delete(order.menu)"><i class="icon ion-trash-a"></i></button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label has-input">Total</span>
          <input type="text" placeholder="Total" value="{{total}}">
        </label>

        <div class="item item-input-inset">
          <label class="item-input item-floating-label">
            <span class="input-label has-input">Delivery Address</span>
            <input type="text" placeholder="Delivery Address" ng-model="data.location" details="data.detail" required googleplace/>
          </label>
          <button class="button button-royal icon ion-map" ng-click="showMap()"></button>
        </div>
      </div>
    </div>
    <button class="button button-block button-calm" ng-click="buy(menus,location)">Buy</button>
  </ion-content>
</ion-modal-view>
